body { 
    background: blueviolet;
    margin: 0px;
    color: white;
}

img {
    width: 100%;
}

header {
    color: white;
    text-align: center;
}
.cuadro1 { 
    background: rgb(14, 123, 248);
    margin: 10px;
    padding: 10px;
    
}

.cuadro1 img { 
   
}

.cuadro2 { 
    background: rgb(40, 2, 116);
    margin: 10px;
    
}

.cuadro2 img {
    width: 50%;
    align-content: center;
}